@import "reset";
@import "loader";

body,
html {
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#app{
	margin: 20px;
}
#search-wrapper{
	position: relative;
	width: 200px
}

#loader {
    position: absolute;
    top: 3px;
    right: 8px;
    z-index: 9;
}
#clear {
	position: absolute;
    top: 6px;
    right: 8px;
    z-index: 9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    color: black;
    background: #ccc;
	font-size: 12px;
	cursor: pointer;
}

#search{
	border-radius: 5px;
	border:none;
	border: 1px solid #6f6f6f;
	padding: 5px;
	width: 200px	
}

.suggesstion-box{
	border-radius: 5px;
	border: 1px solid #6f6f6f;
	max-width: 200px;
	display: none;
	max-height: 150px;
    overflow-y: auto;
	a{
		color:black;
		display: block;
		padding: 7px;
		text-decoration: none;
		&:hover{
			background: #94ddf8;
		}
	}
}//suggestion-box

